doctype html
html
  head
    title= title
  body
    h1 Custom Object Records
    a(href="/update-cobj") Add to this table
    table(border="1")
      thead
        tr
          th ID
          th Pet Name
          th Type
          th Breed
      tbody
        each record in records
          tr
            td= record.id
            td= record.properties.pet_name
            td= record.properties.type
            td= record.properties.breed
